<div *ngIf="comments" class="comments-container">
  <p>Comments: </p>
  <div *ngFor="let comment of comments" class="comment">
    <div>{{findUserByComment(comment.userid).login}}</div>
    <p>{{comment.message}}</p>
  </div>
</div>
<div class="comment__input-container">
  <input type="text"
         class="comment__input"
         placeholder="comment..."
         pInputText
         [(ngModel)]="writeComment.message">
  <button pButton
          pRipple
          type="button"
          icon="pi pi-check"
          class="p-button-rounded p-button-text comment__button"
          (click)="write()">
  </button>
</div>

