.header {
  height: 60px;
  margin-bottom: 30px;
  background-color: white;

  &__product-name {
    font-size: 30px;
  }

  &__product-name:hover {
    cursor: pointer;
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    height: 60px;
    width: 60px;
  }

  &__icon:hover {
    cursor: pointer;
  }
}
