<p-card header="Point to" subheader="Login" [style]="{width: '360px'}" styleClass="p-card-shadow">
  <ng-template pTemplate="header">
    <img src="../../../../assets/0-tunis.jpg" height="220"/></ng-template>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
    deserunt
    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
  <ng-template pTemplate="footer">
    <div class="card__icons">
      <div class="card__icon-section">
        <i class="pi pi-heart card__icon"></i>
        <p> Like</p>
      </div>
      <div class="card__icon-section">
        <i class="pi pi-comment card__icon"></i>
        <p> Comment</p>
      </div>
    </div>
  </ng-template>
</p-card>
