<header class="header">
  <div class="container">
    <app-toolbar (notifyClick)="onClick($event)" [isNotified]="isNotified"></app-toolbar>
  </div>
</header>
<div class="container components">
  <div class="components__left">
    <router-outlet></router-outlet>
  </div>
  <div class="components__right">
    <div *ngIf="isBellClicked">
      <app-notification [users]="users" [notifications]="notifications"></app-notification>
    </div>
    <app-user></app-user>
    <app-subscribers-list></app-subscribers-list>
    <app-users-list></app-users-list>
<!--    <app-chat></app-chat>-->
  </div>
</div>

