<div class="flex-center">
  <div class="form">
    <h1 class="form__header">Authentication</h1>
    <form class="form__input p-fluid"
          [formGroup]="form">
      <div class="p-field input">
        <input id="login" type="text" placeholder="login" pInputText formControlName="login">
      </div>
      <div class="p-field input">
        <p-password id="password" placeholder="password" formControlName="password" [feedback]="false"></p-password>
      </div>
      <p-button label="Login" class="form__button" (click)="onSubmit()"></p-button>
      <div class="form__link">
        Haven't registered yet?
        <a [routerLink]="'/main/registration'">Register</a>
        to Traveler now!
      </div>
    </form>
  </div>
</div>


