.auth-form {
  width: 340px;
  height: 310px;
  background-color: white;
  padding: 10px 0;

  &__header {
    display: flex;
    justify-content: center;
    font-family: FjallaOne-Regular, sans-serif;
  }

  &__input {
    margin: 0 35px;
  }

  &__link {
    font-family: FjallaOne-Regular, sans-serif;
    margin-top: 10px;
  }

  &__button {
    font-family: FjallaOne-Regular, sans-serif;
  }
}

.input {
  margin-bottom: 10px;
}
