<div *ngIf="!!users.length" class="users">
  <header class="users__header">
    <h3>
      All users
    </h3>
  </header>
  <div *ngFor="let user of users" class="table-user">
    <div class="table-user__info">
      <img src="../../../assets/avatar.jpg" class="table-user__img"/>
      {{user.login}}
    </div>
    <button pButton
            type="button"
            label="subscribe"
            icon="pi pi-check"
            (click)="subscribe(user.id)"
            class="p-button-sm table-user__button"></button>
  </div>
</div>
