.user {
  display: flex;
  width: 360px;
  justify-content: space-between;
  padding: 5px;
  background: white;

  &__info {
    display: flex;
    align-items: center;
  }

  &__credentials {
    font-family: "Paper Cuts", serif;
  }

  &__edit {
    font-size: 20px;
  }

  &__edit:hover {
    cursor: pointer;
    color: rgba(38,37,38,0.09);
  }

}

.avatar {
  border-radius: 50%;
  width: 60px;
  height: 100%;
  margin-right: 10px;
}
