<div class="user">
  <div class="user__info">
    <img class="avatar" src="../../../assets/avatar.jpg" alt="Avatar"/>
    <div class="user__credentials" *ngIf="!!user">
      <div>{{user.login}}</div>
      <div *ngIf="!!profile">{{profile.name}} {{profile.lastname}}</div>
    </div>
  </div>

  <i class="pi pi-pencil user__edit" (click)="isEdit = !isEdit"></i>
</div>
<p-toast></p-toast>
<div *ngIf="isEdit">
  <app-create-profile (onClick)="$event ? this.showSuccess() : this.showError()"></app-create-profile>
</div>
