.notifications {
  position: absolute;
  width: 368.55px;
  padding: 10px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid lightgray;
}

.notification {
  height: 80px;
  border-bottom: 1px solid lightgray;
}

.notification:last-child {
  border-bottom: none;
}
