<form class="form">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 form__item">
      <label for="description">Describe your travel</label>
      <textarea id="description"
                type="text"
                rows="4"
                [(ngModel)]="travel.description"
                [ngModelOptions]="{standalone: true}"
                pInputTextarea></textarea>
    </div>
    <div class="p-field p-col-12 p-md-6 form__item">
      <label for="pointFrom">From</label>
      <input id="pointFrom"
             type="text"
             [(ngModel)]="travel.pointFrom"
             [ngModelOptions]="{standalone: true}"
             pInputText>
    </div>
    <div class="p-field p-col-12 p-md-6 form__item">
      <label for="pointTo">To</label>
      <input id="pointTo"
             type="text"
             [(ngModel)]="travel.pointTo"
             [ngModelOptions]="{standalone: true}"
             pInputText>
    </div>
    <p-button class="form__item" label="Create" (click)="addTravel()"></p-button>
  </div>
</form>
