@import "~primeng/resources/themes/saga-blue/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";

@font-face {
  font-family: FjallaOne-Regular;
  src: local(FjallaOne-Regular), url("assets/fonts/FjallaOne-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  background-color: rgba(59,59,59,0.09);
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-space_between {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.form {
  min-width: 340px;
  height: 310px;
  background-color: white;
  padding: 10px 0;
  font-family: FjallaOne-Regular, sans-serif;

  &__header {
    display: flex;
    justify-content: center;
  }

  &__input {
    margin: 0 35px;
  }

  &__link {
    margin-top: 10px;
  }
}

.text-header {
  text-align: center;
  font-family: FjallaOne-Regular, sans-serif;
}
