<div class="profile-view">
  <img src="../../../assets/avatar.jpg" class="profile-view__avatar" alt="Avatar"/>
  <div>
    <div class="profile-view__login">
      <p>{{user.login}}</p>
      <button pButton pRipple type="button" label="Edit Profile" class="p-button-outlined p-button-secondary"></button>
    </div>
    <p>{{profile.name}}</p>
    <div>{{profile.lastname}}</div>
    <div>{{profile.birthday | date}}</div>
  </div>
</div>
<div *ngIf="travels.length > 0; else empty" class="profile-view__travel-list">
  <p>Travels: </p>
  <div *ngFor="let travel of travels">
    <img src="../../../assets/0-tunis.jpg" class="profile-view__travel-photo" [routerLink]="'/main/travel/view/' + travel.id"/>
  </div>
</div>

<ng-template #empty>
  No travels
</ng-template>
