<div class="registration-form">
  <h1 class="registration-form__header">Registration</h1>
  <form class="registration-form__input p-fluid"
        [formGroup]="form">
    <div class="p-field input">
      <input id="login" type="text" placeholder="login" pInputText formControlName="login">
    </div>
    <div class="p-field input">
      <p-password id="password" placeholder="password" formControlName="password"></p-password>
    </div>
    <p-button label="SUBMIT" (click)="onSubmit()"></p-button>
  </form>
</div>

